@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0 ;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  :root{
    --White: hsl(0, 0%, 100%);
    --Light--pink: hsl(275, 100%, 97%);
    --Grayish--purple: hsl(292, 16%, 49%);
    --Dark--purple: hsl(292, 42%, 14%);
}


  body{
    min-height: 100dvh;
    min-width: 400px;
    background:url(./assets/images/background-pattern-desktop.svg) no-repeat; 
    background-attachment: fixed;
    background-position: top;
    background-size: 100%;
    display: grid;
    place-items: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--light--pink);
    
  }

  .faq-accordion{
    display: block;
    margin: auto;
    background-color: var(--White);
    padding: 2.5rem 1rem;
    border-radius: 1rem;
    color: var(--Dark--purple);
    width: 50%;
    box-shadow: 0px 30px 100px -50px black;
    
  }
  .faq-heading{
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding-left: 10px;
  }


  .faq-content{
    margin-bottom: 10px;
  }

  .faq-dropdown{
    border-bottom: 1px solid #ccc;
  
  }
.faq-dropdown-header{
    font-weight: 700;
    font-size: 1.125rem;
    padding: 1.125rem 0;
    margin-bottom:1rem;
    position: relative;
    cursor: pointer;
 

}
.faq-dropdown-header >h2{
    font-weight: 600;
    width: 90%;
 
}

.faq-icon-btn{
    border: 0px;
    width: 30px;
    height: 30px;
    background: url(./assets/images/icon-plus.svg);
    background-size: cover;
    background-color: inherit;
    cursor: pointer;
    transition: 0.3s ease;
    position: absolute;
    right: 10px;
    top: 25px;
}
 
  .faq-dropdown-body{
    margin-bottom: 1rem;
    display: none;
  }

  .faq-dropdown-body.open{
    display: block;
}
.faq-icon-btn.open{
    background: url(./assets/images/icon-minus.svg);
    transition: 0.3s ease;
}

@media(max-width:740px){
    body{
        background: url(./assets/images/background-pattern-mobile.svg) no-repeat;
        background-size: 100%;
        min-width: 375px;
    }
    .faq-accordion{
        margin: 0;
        min-width: 400px;
    }
}